<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks List</title>
</head>

<body>
    <header>
        <nav>
            <ul >
                <li ><h1>DJANGO CRUD</h1></li>
                <li ><a href="{% url 'snack_list' %}">Snack List</a></li>
                <li><a href="{% url 'create_snack' %}">Create Snack</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <footer>
        <p>&copy; RihanFoudeh</p>
    </footer>

</body>

</html>